.product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 100px 10%;
}

.checkout-button {
  background-color: var(--green);
  border-radius: 10px;
  bottom: 100px;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 1.25rem;
  min-width: 300px;
  padding: 20px;
  position: fixed;
  right: 100px;
}
